  <div>
  <h3 class=" display-4 well-title">Welcome, <%= current_user.name %></h3>
  <h4 class="main-title">New Walker Account</h4>
  </div>
  <%= render "walker_error_messages"  %>
<%= render "walker_form"  %>
