<h1>All Invoices</h1>
<ol>
<% @invoices.each do |invoice| %>
<li> <%=link_to invoice.amount, invoice_path(invoice) %></li>
<li> <%=link_to invoice.walked, invoice_path(invoice) %></li>
<br>
<% end %>
</ol>

<%= link_to "Create a Invoice", new_invoice_path%>
