@import "bootstrap";
@import "./appointments.scss";
@import "./dogs.scss";
@import "./invoices.scss";
@import "./owners.scss";
@import "./pages.scss";
@import "./services.scss";
@import "./users.scss";
@import "./walkers.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  height: 100vh;
}

.card-img-top {
  height: 285px;
}

.card-deck .card {
  margin-bottom: 15px;
}

.contact-row {
  display: flex;
  justify-content: center;
  width: 85vw;
  margin-right: 150px;
  align-items: center;
}

.appt {
  display: flex;
  height: 20vh;
  width: 20vw;
  justify-content: space-between;
}

.apptcards {
  display: flex;
  height: 20vh;
  width: 20vw;
}

.moving {
  margin: 0 auto;
  width: 100vw;
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin: 2px;
}
.car-image-block img {
  width: 15rem;
}

.show-dog img {
  width: 300px;
}

.dog-image {
  width: 330px;
  height: 330px;
}

.firma-aciklama {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yacht-info__list {
  list-style-type: none;
}

.buttons {
  margin-top: 20px;
}
/*----------------------
Product Card Styles 
----------------------*/
.panel.panel--styled {
  background: #f4f2f3;
}
.panelTop {
  display: flex;
  align-items: center;
  width: 50vw;
  padding: 20px;
}

.panelBottom {
  justify-content: space-around;
  display: flex;
  padding: 25px;
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
}
.btn-add-to-cart {
  background: #fd5a5b;
  color: #fff;
}
.btn.btn-add-to-cart.focus,
.btn.btn-add-to-cart:focus,
.btn.btn-add-to-cart:hover {
  color: #fff;
  background: #fd7172;
  outline: none;
}
.btn-add-to-cart:active {
  background: #f9494b;
  outline: none;
}

span.itemPrice {
  font-size: 24px;
  color: #fa5b58;
}

.card-header {
  width: 70vw;
  text-align: left;
}

.profile {
  display: flex;
  align-items: center;
  margin: 0;
}

.content-list {
  list-style-type: none;
  padding: 50px;
}

.btnowner a {
  color: white;
}
